#ArticlePageHeaderContainer{
    height: 200px;
    background-color: #333;
    display: flex;
    justify-content: center;
        
}
#TitleOfArticle{
    color: #fff;
   display: flex;
}
#HeaderBox{
    display: flex;
    flex-direction: column;
    row-gap:15px;
    width: 900px;
    
}