.Tag{
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    color:#aaa;
    border-radius: 30px;
    font-size: 15px;
    padding: 0.5rem;
    
}
#TagListContainer{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
   
}